.footer {
  background-color: black;
  padding: 50px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
  justify-content: space-between;
  font-weight: normal;
}
.footer ul li a {
  text-decoration: none;
  color: white;
}
.footer ul li {
  padding: 5px;
}
@media (max-width: 992px) {
  .footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}
@media (max-width: 576px) {
  .footer {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
  }
}
